@model ticketApp.Models.Ticket

@using Microsoft.AspNetCore.Identity
@using ticketApp.Areas.Identity.Data
@inject SignInManager<ticketAppUser> SignInManager
@inject UserManager<ticketAppUser> UserManager

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_NavLayout.cshtml";
}
@if (SignInManager.IsSignedIn(User))
{
    <h1>Archiveer</h1>

    <h3>Weet u zeker dat u deze ticket wil verwijderen?</h3>
    <div>
        <h4>Ticket</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.DateSubmitted)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.DateSubmitted)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Deadline)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Deadline)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Title)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Title)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Email)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ApplicationName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ApplicationName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Description)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.TypeList)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Type)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.ClientName)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.ClientName)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.SprintList)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.SprintList)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.AppointedTo)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.AppointedTo)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Status)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Status)
            </dd>
        </dl>

        <form asp-action="Archive">
            <input type="hidden" asp-for="ID" />
            <input type="submit" value="Archiveer" class="btn btn-danger" /> |
            <a asp-action="Index" class="btn btn-primary">Back to List</a>
        </form>
    </div>
}
else
{
    <h1>Uw moet ingelogd zijn om deze informatie in te zien</h1>
}