@model ticketApp.Models.Ticket

@using Microsoft.AspNetCore.Identity
@using ticketApp.Areas.Identity.Data
@inject SignInManager<ticketAppUser> SignInManager
@inject UserManager<ticketAppUser> UserManager

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_NavLayout.cshtml";
}
@if (SignInManager.IsSignedIn(User))
{

    <h1>@Html.DisplayFor(model => model.Title)</h1>
    <hr />

    <div class="row row-eq-height details-row">
        <div class="col-md-8">
            <div class="category-title">
                <h5>Details</h5><span class="line"></span>
            </div>
            <div class="ticket-details">
                <div class="row">
                    <div class="col-md-6">
                        <p>Ticket ID:<span>@Html.DisplayFor(model => model.ID)</span></p>
                        <p>@Html.DisplayNameFor(model => model.Type):<span>@Html.DisplayFor(model => model.Type)</span></p>
                        <p>@Html.DisplayNameFor(model => model.Status):<span>@Html.DisplayFor(model => model.Status)</span></p>
                    </div>
                    <div class="col-md-6">
                        <p>@Html.DisplayNameFor(model => model.ApplicationName):<span>@Html.DisplayFor(model => model.ApplicationName)</span></p>
                        <p>@Html.DisplayNameFor(model => model.SprintList):<span>@Html.DisplayFor(model => model.SprintList)</span></p>
                        <p>@Html.DisplayNameFor(model => model.AppointedTo):<span>@Html.DisplayFor(model => model.AppointedTo)</span></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="category-title">
                <h5>Details klant</h5><span class="small-line"></span>
                    <div class="ticket-details">
                        <p>@Html.DisplayNameFor(model => model.ClientName):<span>@Html.DisplayFor(model => model.ClientName)</span></p>
                        <p>@Html.DisplayNameFor(model => model.Email):<span>@Html.DisplayFor(model => model.Email)</span></p>
                    </div>
            </div>
        </div>
    </div>

    <div class="row row-eq-height details-row">
        <div class="col-md-8">
            <div class="category-title">
                <h5>@Html.DisplayNameFor(model => model.Description)</h5><span class="line"></span>
                <div class="ticket-details">
                    <p class="light-font">@Html.DisplayFor(model => model.Description)</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="category-title">
                <h5>Datums</h5><span class="small-line"></span>
                <div class="ticket-details">
                    <p>@Html.DisplayNameFor(model => model.DateSubmitted):<span>@Html.DisplayFor(model => model.DateSubmitted)</span></p>
                    <p>@Html.DisplayNameFor(model => model.Deadline):<span>@Html.DisplayFor(model => model.Deadline)</span></p>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-eq-height details-row">
        <div class="col-md-8">
            <div class="category-title">
                <h5>@Html.DisplayNameFor(model => model.Attachments)</h5><span class="line"></span>
                <div class="ticket-details">
                    <p class="light-font">@Html.DisplayFor(model => model.Attachments)</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row row-eq-height details-row">
        <div class="col-md-8">
            <div class="category-title">
                <h5>Activiteit</h5><span class="line"></span>
                <div class="ticket-details">
                    <div class="comment">
                        <p>Stefan heeft een comment toegevoegd - 2 min geleden</p>
                        <p class="light-font">Hier komt de comment te staan</p>
                        <span class="comment-line"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="button-container">
                <div class="btn-inside">
                    <a class="btn btn-primary" asp-action="Index">Terug</a> |
                    <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.ID">Wijzig</a>
                    <a class="btn btn-danger float-right" asp-action="Archive" asp-route-id="@Model.ID">Archiveer</a>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <h1> Uw moet ingelogd zijn om deze informatie in te zien</h1>
}